/* Vars & Mixins
------------------------------ */

$svgW: 500px;
$svgH: 300px;

$controlH: 40px;

$space: 10px;

$colors: purple, crimson, orangered, yellowgreen, skyblue, steelblue, olive, teal, indigo;

@mixin outline( $counter: 1 ) {
  outline: 2px solid nth( $colors, $counter );
}

@mixin valnMid {
  &:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

/* Base
------------------------------ */

HTML, BODY {
  height: 100%;
}

BODY {
  background:
    linear-gradient( #EEE 1px, transparent 2px),
    linear-gradient( to right, #EEE 1px, transparent 2px);
  background-size: 1em 1em;

}

/* Layout
------------------------------ */

.demo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  font: 16px/1.4 Arial, sans-serif;
}

.demo__content {
  position: relative;
  width: $svgW;
  height: $svgH;

  &--svg-only {
    /* default */
  }

  &--left-range {
    width: $svgW + $controlH + $space;
  }

  &--top-range {
    height: $svgH + $controlH + $space;
  }

  &--both-ranges {
    width: $svgW + $controlH + $space;
    height: $svgH + $controlH + $space;
  }
}

/* SVG
------------------------------ */

.svg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: $svgW;
  height: $svgH;
  box-sizing: border-box;
  border: 2px solid #333;
}

/* Controls
------------------------------ */

.controls {

  &__title {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 100%;
  }
}

  .controls--buttons {
    @include valnMid;
    height: $controlH;
    margin-bottom: $space;
    font-size: 1rem;
  }

/* Buttons
------------------------------ */

.button {
  margin-left: .5rem;
  padding: .3rem .5rem;
  vertical-align: middle;
  border: 0;
  background: #BBB;
  cursor: pointer;
  font-size: 1rem;
  text-shadow: 0 0 1px rgba(0, 0, 0, .75);
  color: #FFF;

  &--current {
    background: crimson;
  }
}

/* Ranges
------------------------------ */

.controls--ranges {
  position: absolute;
  width: 100%;
}
  .range {
    position: absolute;
    height: $controlH;
    text-align: center;

    &--hor {
      right: 0;
      width: $svgW;
    }

    &--vert {
      top: $controlH + $space;
      width: $svgH;
      transform-origin: 0 0;
      transform: rotate(-90deg) translateX(-100%);
    }

      &--vert .range__input {
        transform: rotate(180deg);
      }
  }

  .range__input {
    width: 100%;
    margin: auto;
    cursor: pointer;
  }
