.header {
  padding: 1rem;
  flex-basis:  250px;

  background: #EEE;
  border: 1px solid rgba(0,0,0,.1);
}

.title {
  margin: 0 0 .5rem;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.nav__item {
  margin-bottom: .25em;
}
