.header {
  /*@include container-width;*/

  margin: 0 auto 2rem;
  padding: .5rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media ( max-width: $bp-desktop ) {
    flex-direction: column;
    justify-content: center;
  }

  background: #EEE;
  border: 1px solid rgba(0,0,0,.1);
}

.title {
  margin: 0;
}

.nav {
  /*display: none;*/
}
  .nav__item {
    display: inline-block;
    margin: 0 .5rem;
  }
